@import "tailwindcss";

:root {
  --background: #ffffff;
  /* 背景颜色 */
  --foreground: #171717;
  /*前景颜色*/
}


@theme inline {/*定义了一个inline主题 当“inline”这个主题被应用（或者说被激活）时，括号 {} 里面的 CSS 变量定义就会生效*/
  /*相对于默认全局有效的root而言inline是一种要选中可替代的模板，选择后整个项目都可以用模板中明明的昵称来引用变量*/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /*当发起一个media查询时 具体判断media中的perfers-color-scheme是否为dark 如果满足判断条件则运行以下代码*/
  :root {/*通过再次定义覆盖了默认的root变量*/
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/*.classname是修饰一类元素的开头
#traffic-counter是修饰id为traffic-counter的元素 id在html中是唯一的*/
#traffic-counter {
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 10px;
  color: #171717;
}